/StudentPerformancePredictor/predictor/templatetags/__pycache__
/StudentPerformancePredictor/StudentPerformancePredictor/__pycache__
/StudentPerformancePredictor/StudentPerformancePredictor/__pycache__
/StudentPerformancePredictor/StudentPerformancePredictor/__pycache__
StudentPerformancePredictor/predictor/__pycache__/forms.cpython-313.pyc
*.pyc
